[submodule "data"]
	path = data
	url = https://github.com/handong32/fetal-data.git
[submodule "fetalReconstruction"]
	path = ext/fetalReconstruction
	url = https://github.com/SESA/fetalReconstruction.git
[submodule "EbbRT-libgsl"]
	path = ext/EbbRT-libgsl
	url = https://github.com/SESA/EbbRT-libgsl.git
