[submodule "data"]
	path = data
	url = https://github.com/handong32/fetal-data.git
[submodule "fetalReconstruction"]
	path = fetalReconstruction
	url = https://github.com/jmcadden/fetalReconstruction.git
[submodule "EbbRT-libgsl"]
	path = EbbRT-libgsl
	url = https://github.com/SESA/EbbRT-libgsl.git
